.about-us
{
    padding: 19px 0px 120px;
}

.about-pop-up
{
    background-image: url(./aboutusimg/dentist.png);
    min-height: 522px;
    border-radius: 10px;
}
.about-us-body
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  
}
.about-us-left
{
    position: relative;
    z-index: 1;
}
.about-us-left::before
{
    content: "";
    position: absolute;
    background-image: url(./aboutusimg/Squares\ Bkgd\ Element.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -16px;
    left: -75px;
    min-height: 163.68px;
    z-index: -1;
    width: 179.96px;
    
}
.about-us-right {
    flex-basis: 42.2%;
}
.about-background
{
    width:100%;
    max-width:500px;
    display: block;
    margin-top: 19px;
    margin-bottom: 30px;
    margin-left: 60px;
}
.about-us-left {
    flex-basis: 56.9%;
}
.about-us-heading
{
    color: var(--deepkoamaru);
   
}
.about-us-heading h2 span
{
    color: var(--dodgerblue);
}
.about-us-heading{
    margin-bottom: 30px;
}
.about-us-desc
{
    margin-bottom: 65px;
}
.about-us-background::after {
    content: "";
    position: absolute;
    background-color: var(--lightblue);
    top: 0px;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 45%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.about-us-background {
    position: relative;
    z-index: 1;
    padding: 108px 0px 140px;
}
.hero-link
{
    position: relative;
    z-index: 1;
}
.pop-up-icon 
{
    background-color: var(--white);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 82px;
    min-height: 82px;
    border-radius: 100%;
    position: absolute;
    bottom: -14.9%;
    left: 22%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.pop-up-icon i
{
    font-size: 30px;
    color: var(--hotpink);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content-wrapper
{
    position: relative;
    z-index: 1;
}
.about-us .content-wrapper::before
{
    content: "";
    position: absolute;
    background-image: url(./aboutusimg/Group\ 960.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 75px;
    width: 100%;
    max-width: 65px;
    z-index: 1;
    bottom: 0;
}
@media (max-width:1024px)
{

    .about-us {
        padding: 19px 0px 73px;
    }
    .about-us-background {
        padding: 60px 0px 70px;
    }
    .about-us-left {
        flex-basis: 59.9%;
    }
    
    .about-background {
        width: 100%;
        max-width: 375px;
        margin-left: 50px;
    }
    .about-pop-up {
        min-height: 375px;
    }
    .pop-up-icon {
        width: 100%;
        max-width: 82px;
        min-height: 82px;
        border-radius: 100%;
        position: absolute;
        bottom: -21.9%;
        left: 30%;
    }
    .about-pop-up {
        min-height: 375px;
    }
    .hero-link {
        position: relative;
        z-index: 1;
    }
    .about-us-left::before {
        bottom: -21px;
        left: -28px;
        min-height: 120.68px;
        width: 120.96px;
    }
    .about-us-right {
        flex-basis: 39.2%;
    }
    .pink-btn {
        padding: 17px 40px;
    }
    .about-us-desc {
        margin-bottom: 40px;
    }
    .about-us-desc p {
        
        font-size: 14px;
        line-height: 25px;
    }
    .about-us-heading h2 {
        font-size: 50px;
        line-height: 80.52px;
    }
}
    @media (max-width:767px)
    {
        .about-us {
            padding: 17px 0px 40px;
        }
        .about-us-body
        {
            display: block;
        }
        .about-us .content-wrapper::before {
            min-height: 66px;
            width: 100%;
            max-width: 65px;
        }
        .about-us-background {
            padding: 40px 0px 60px;
        }
        .about-us-right {
            margin-bottom: 30px;
        }
        .about-us-heading {
            margin-bottom: 30px;
        }
        .about-us-heading h2 {
            font-size: 70px;
            line-height: 80.52px;
        }
        .about-us-desc {
            margin-bottom: 50px;
        }
        .about-us-desc p {
            font-size: 18px;
        }
        .pink-btn {
            padding: 18px 32px;
        }
        .about-background {
            width: 100%;
            margin: 0 auto; 
        }
        .about-pop-up {
            min-height: 431px;
        }
        .pop-up-icon {
            bottom: -21.9%;
            left: 50%;
        }
        .about-us-background::after {
            content: none;
        }
        .about-us-background {
            padding: 40px 0px 60px;
        }
    }

    .welcome-flex
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .welcome-left {
        flex-basis: 51%;
        margin-left: 32px;
    }
    .welcome-right {
        flex-basis: 46%;
        position: relative;
        z-index: 1;
    }
    .welcome-img img
    {
        width: 100%;
        max-width: 565px;
    }
    .welcome-heading 
    {
        color: var(--deepkoamaru);
        margin-bottom: 30px;
    }
    .welcome-heading h3 span
    {
        color: var(--dodgerblue);
    }
    .welcome-desc
    {
        margin-bottom: 30px;
    }
    .welcome-list
    {
        color:var(--lightgray) ;
        font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.3px;
    max-width: 550px;
    margin-bottom: 40px;
    }
    .welcome-list ul li
    {
        margin-top:6px ;
        
    }
    .welcome-list ul li::before
    {
        content: "\2022";
        color:var(--dodgerblue);
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
        font-size: 24px;
    }
    .welcome-list ul li i
    {
        font-size: 7px;
        color: var(--dodgerblue);
        margin: 8px;
    }
    .welcome-btn a.pink-btn
    {
        padding:16.37px 47px ;
    }
    .welcome-background
    {
        position: relative;
        z-index: 1;
        padding: 147px 0px 153px;
    }
    .welcome-background::after 
    {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        right: 0;
        width: 65%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: var(--lightblue);
    }
    .content-wrapper-two
    {
        position: relative;
        z-index: 1;
    }
    .content-wrapper-two::before
    {
        content: "";
        position: absolute;
        background-image: url(./aboutusimg/Group\ 960.png);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 75px;
        top: -75px;
        width: 100%;
        max-width: 65px;
        transform: scaleY(-1);
    }
    .welcome-right::before
{
    content: "";
    position: absolute;
    background-image: url(./aboutusimg/Squares\ Bkgd\ Element.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -69px;
    left: 50%;
    min-height: 163.68px;
    z-index: -1;
    width: 179.96px;
}
@media (max-width:1024px)
{
    
}